In [1]:
import pandas as pd

In [2]:
data_a = pd.read_csv('problem1.csv') 
data_a

     Id    Latitude   Longitude
0   763  -62.143605  -69.059316
1   307  105.795136  -65.706768
2   258   89.168082  133.709759
3   235 -101.836889 -120.809672
4    56   73.712477  116.057380
5   962   59.827939 -100.161487
6   895  -64.692248  148.235307
7   440  -71.746504   33.095026
8   836   71.329149   75.031543
9   219  -74.186856 -122.694218
10  205  -36.798404  133.815085
11  196 -139.897192    9.215587
12  534 -137.904459   42.535486
13   80  -60.934476   50.661644
14  543  -88.603824   42.820766

In [3]:
data_b = pd.read_json('problem1.json') 
data_b

     Id    Latitude   Longitude
0   534 -137.904459   42.535486
1   911  146.068455  112.579091
2   895  -64.692248  148.235307
3    56   73.712477  116.057380
4   219  -74.186856 -122.694218
5   246  -92.920535  126.663847
6   962   59.827939 -100.161487
7   307  105.795136  -65.706768
8   440  -71.746504   33.095026
9   709  -54.473819  149.652170
10  763  -62.143606  -69.059316
11  543  -88.603824   42.820766
12  836   71.329149   75.031543
13  205  -36.798404  133.815085
14  258   89.168081  133.709759

In [4]:
sen1 =[]
sen2 =[]
for r in range(len(data_a)):
    for t in range(len(data_b)):
        if data_a.iloc[r].Latitude.round() == data_b.iloc[t].Latitude.round():
            if data_a.iloc[r].Longitude.round() == data_b.iloc[t].Longitude.round():
                sen1.append(data_a.iloc[r].Id)
                sen2.append(data_b.iloc[t].Id)
                print()

sen1,sen2

([763.0,
  307.0,
  258.0,
  56.0,
  962.0,
  895.0,
  440.0,
  836.0,
  219.0,
  205.0,
  534.0,
  543.0],
 [763.0,
  307.0,
  258.0,
  56.0,
  962.0,
  895.0,
  440.0,
  836.0,
  219.0,
  205.0,
  534.0,
  543.0])

In [5]:
csv = []
ones_a = []
for w in range(len(data_a)):
    if data_a.iloc[w].Id in sen1:
        print()
    else:
        csv.append(data_a.iloc[w].Id)
        ones_a.append(-1)
csv

[235.0, 196.0, 80.0]

In [6]:
rows, cols = (len(csv), 2)
part_a = [[0]*cols]*rows
for e in range(len(csv)):
    part_a[e]=csv[e],ones_a[e] 
    
part_a

[(235.0, -1), (196.0, -1), (80.0, -1)]

In [7]:
json = []
ones_b = []
for w in range(len(data_a)):
    if data_b.iloc[w].Id in sen2:
        print()
    else:
        json.append(data_b.iloc[w].Id)
        ones_b.append(-1)
json

[911.0, 246.0, 709.0]

In [8]:
rows, cols = (len(csv), 2)
part_b = [[0]*cols]*rows
for e in range(len(json)):
    part_b[e]=ones_b[e],json[e] 
    
part_b

[(-1, 911.0), (-1, 246.0), (-1, 709.0)]

In [9]:
rows, cols = (len(sen1), 2)
arr = [[0]*cols]*rows
len(sen1)

12

In [10]:
for e in range(len(sen1)):
    arr[e]=sen1[e],sen2[e] 
    
arr

[(763.0, 763.0),
 (307.0, 307.0),
 (258.0, 258.0),
 (56.0, 56.0),
 (962.0, 962.0),
 (895.0, 895.0),
 (440.0, 440.0),
 (836.0, 836.0),
 (219.0, 219.0),
 (205.0, 205.0),
 (534.0, 534.0),
 (543.0, 543.0)]

In [11]:
for r in range(len(part_a)):
    arr.append(part_a[r])
    
for r in range(len(part_b)):
    arr.append(part_b[r])

In [12]:
for y in range(len(arr)):
    print(arr[y][0],':',arr[y][1])

763.0 : 763.0
307.0 : 307.0
258.0 : 258.0
56.0 : 56.0
962.0 : 962.0
895.0 : 895.0
440.0 : 440.0
836.0 : 836.0
219.0 : 219.0
205.0 : 205.0
534.0 : 534.0
543.0 : 543.0
235.0 : -1
196.0 : -1
80.0 : -1
-1 : 911.0
-1 : 246.0
-1 : 709.0

In [13]:
sourceFile = open('solution_1.txt', 'w')

for y in range(len(arr)):
    print(arr[y][0],':',arr[y][1], file = sourceFile)

    
sourceFile.close()