In [1]:
import pandas as pd

In [2]:
data_a = pd.read_csv('problem3.csv') 
data_a

     Id    Latitude   Longitude
0   763  -62.143605  -69.059316
1   307  105.795136  -65.706768
2   258   89.168082  133.709759
3   235 -101.836889 -120.809672
4    56   73.712477  116.057380
..  ...         ...         ...
90  844   67.233136  -73.000409
91  680   56.976670   67.987047
92  583   80.798121   83.212862
93  861    2.999354  -18.792829
94  277  -18.262742   -7.336030

[95 rows x 3 columns]

In [3]:
data_b = pd.read_json('problem3.json') 
data_b

     Id    Latitude   Longitude
0   965  -56.306553   57.728086
1   240  -35.802337   18.868458
2   436   12.376343  -23.622570
3   199   20.785628  -11.400621
4   585   10.119532  147.546483
..  ...         ...         ...
90  327 -111.184664  -42.125583
91  205  -36.798404  133.815085
92  709    2.094669  -89.629818
93  488  -14.238511  -11.162996
94  495 -138.018992 -143.157104

[95 rows x 3 columns]

In [4]:
sen1 =[]
sen2 =[]
for r in range(len(data_a)):
    for t in range(len(data_b)):
        if data_a.iloc[r].Latitude.round() == data_b.iloc[t].Latitude.round():
            if data_a.iloc[r].Longitude.round() == data_b.iloc[t].Longitude.round():
                sen1.append(data_a.iloc[r].Id)
                sen2.append(data_b.iloc[t].Id)
                print()

sen1,sen2

([763.0,
  307.0,
  258.0,
  235.0,
  56.0,
  962.0,
  895.0,
  440.0,
  219.0,
  205.0,
  196.0,
  534.0,
  80.0,
  543.0,
  652.0,
  327.0,
  542.0,
  122.0,
  965.0,
  287.0,
  455.0,
  901.0,
  232.0,
  650.0,
  805.0,
  599.0,
  1.0,
  215.0,
  818.0,
  875.0,
  355.0,
  522.0,
  495.0,
  897.0,
  59.0,
  112.0,
  640.0,
  761.0,
  924.0,
  154.0,
  302.0,
  473.0,
  532.0,
  391.0,
  828.0,
  402.0,
  199.0,
  29.0,
  704.0,
  587.0,
  675.0,
  955.0,
  53.0,
  26.0,
  232.0,
  251.0,
  363.0,
  894.0,
  225.0,
  665.0,
  485.0,
  488.0,
  659.0,
  585.0,
  293.0,
  240.0,
  806.0,
  77.0,
  129.0,
  204.0,
  363.0,
  301.0,
  599.0,
  406.0,
  765.0,
  414.0,
  418.0,
  599.0,
  663.0,
  436.0,
  171.0,
  780.0,
  680.0,
  898.0,
  187.0,
  844.0,
  680.0,
  583.0,
  861.0,
  277.0],
 [763.0,
  307.0,
  258.0,
  235.0,
  56.0,
  962.0,
  895.0,
  440.0,
  219.0,
  205.0,
  196.0,
  534.0,
  80.0,
  543.0,
  652.0,
  327.0,
  542.0,
  122.0,
  965.0,
  287.0,
  455.0,
  901.0,
  232.0,
  650.0,
  805.0,
  599.0,
  1.0,
  215.0,
  818.0,
  875.0,
  355.0,
  522.0,
  495.0,
  897.0,
  59.0,
  112.0,
  640.0,
  761.0,
  924.0,
  154.0,
  302.0,
  473.0,
  532.0,
  391.0,
  828.0,
  402.0,
  199.0,
  29.0,
  704.0,
  587.0,
  675.0,
  955.0,
  53.0,
  26.0,
  232.0,
  251.0,
  363.0,
  894.0,
  225.0,
  665.0,
  485.0,
  488.0,
  659.0,
  585.0,
  293.0,
  240.0,
  806.0,
  77.0,
  129.0,
  204.0,
  363.0,
  301.0,
  599.0,
  406.0,
  765.0,
  414.0,
  418.0,
  599.0,
  663.0,
  436.0,
  171.0,
  780.0,
  680.0,
  898.0,
  187.0,
  844.0,
  680.0,
  583.0,
  861.0,
  277.0])

In [5]:
csv = []
ones_a = []
for w in range(len(data_a)):
    if data_a.iloc[w].Id in sen1:
        print()
    else:
        csv.append(data_a.iloc[w].Id)
        ones_a.append(-1)
csv

[836.0, 720.0, 168.0, 624.0, 991.0]

In [6]:
rows, cols = (len(csv), 2)
part_a = [[0]*cols]*rows
for e in range(len(csv)):
    part_a[e]=csv[e],ones_a[e] 
    
part_a

[(836.0, -1), (720.0, -1), (168.0, -1), (624.0, -1), (991.0, -1)]

In [7]:
json = []
ones_b = []
for w in range(len(data_a)):
    if data_b.iloc[w].Id in sen2:
        print()
    else:
        json.append(data_b.iloc[w].Id)
        ones_b.append(-1)
json

[246.0, 911.0, 993.0, 709.0, 709.0]

In [8]:
rows, cols = (len(csv), 2)
part_b = [[0]*cols]*rows
for e in range(len(json)):
    part_b[e]=ones_b[e],json[e] 
    
part_b

[(-1, 246.0), (-1, 911.0), (-1, 993.0), (-1, 709.0), (-1, 709.0)]

In [9]:
rows, cols = (len(sen1), 2)
arr = [[0]*cols]*rows
len(sen1)

90

In [10]:
for e in range(len(sen1)):
    arr[e]=sen1[e],sen2[e] 
    
arr

[(763.0, 763.0),
 (307.0, 307.0),
 (258.0, 258.0),
 (235.0, 235.0),
 (56.0, 56.0),
 (962.0, 962.0),
 (895.0, 895.0),
 (440.0, 440.0),
 (219.0, 219.0),
 (205.0, 205.0),
 (196.0, 196.0),
 (534.0, 534.0),
 (80.0, 80.0),
 (543.0, 543.0),
 (652.0, 652.0),
 (327.0, 327.0),
 (542.0, 542.0),
 (122.0, 122.0),
 (965.0, 965.0),
 (287.0, 287.0),
 (455.0, 455.0),
 (901.0, 901.0),
 (232.0, 232.0),
 (650.0, 650.0),
 (805.0, 805.0),
 (599.0, 599.0),
 (1.0, 1.0),
 (215.0, 215.0),
 (818.0, 818.0),
 (875.0, 875.0),
 (355.0, 355.0),
 (522.0, 522.0),
 (495.0, 495.0),
 (897.0, 897.0),
 (59.0, 59.0),
 (112.0, 112.0),
 (640.0, 640.0),
 (761.0, 761.0),
 (924.0, 924.0),
 (154.0, 154.0),
 (302.0, 302.0),
 (473.0, 473.0),
 (532.0, 532.0),
 (391.0, 391.0),
 (828.0, 828.0),
 (402.0, 402.0),
 (199.0, 199.0),
 (29.0, 29.0),
 (704.0, 704.0),
 (587.0, 587.0),
 (675.0, 675.0),
 (955.0, 955.0),
 (53.0, 53.0),
 (26.0, 26.0),
 (232.0, 232.0),
 (251.0, 251.0),
 (363.0, 363.0),
 (894.0, 894.0),
 (225.0, 225.0),
 (665.0, 665.0),
 (485.0, 485.0),
 (488.0, 488.0),
 (659.0, 659.0),
 (585.0, 585.0),
 (293.0, 293.0),
 (240.0, 240.0),
 (806.0, 806.0),
 (77.0, 77.0),
 (129.0, 129.0),
 (204.0, 204.0),
 (363.0, 363.0),
 (301.0, 301.0),
 (599.0, 599.0),
 (406.0, 406.0),
 (765.0, 765.0),
 (414.0, 414.0),
 (418.0, 418.0),
 (599.0, 599.0),
 (663.0, 663.0),
 (436.0, 436.0),
 (171.0, 171.0),
 (780.0, 780.0),
 (680.0, 680.0),
 (898.0, 898.0),
 (187.0, 187.0),
 (844.0, 844.0),
 (680.0, 680.0),
 (583.0, 583.0),
 (861.0, 861.0),
 (277.0, 277.0)]

In [11]:
for r in range(len(part_a)):
    arr.append(part_a[r])
    
for r in range(len(part_b)):
    arr.append(part_b[r])
    
arr

[(763.0, 763.0),
 (307.0, 307.0),
 (258.0, 258.0),
 (235.0, 235.0),
 (56.0, 56.0),
 (962.0, 962.0),
 (895.0, 895.0),
 (440.0, 440.0),
 (219.0, 219.0),
 (205.0, 205.0),
 (196.0, 196.0),
 (534.0, 534.0),
 (80.0, 80.0),
 (543.0, 543.0),
 (652.0, 652.0),
 (327.0, 327.0),
 (542.0, 542.0),
 (122.0, 122.0),
 (965.0, 965.0),
 (287.0, 287.0),
 (455.0, 455.0),
 (901.0, 901.0),
 (232.0, 232.0),
 (650.0, 650.0),
 (805.0, 805.0),
 (599.0, 599.0),
 (1.0, 1.0),
 (215.0, 215.0),
 (818.0, 818.0),
 (875.0, 875.0),
 (355.0, 355.0),
 (522.0, 522.0),
 (495.0, 495.0),
 (897.0, 897.0),
 (59.0, 59.0),
 (112.0, 112.0),
 (640.0, 640.0),
 (761.0, 761.0),
 (924.0, 924.0),
 (154.0, 154.0),
 (302.0, 302.0),
 (473.0, 473.0),
 (532.0, 532.0),
 (391.0, 391.0),
 (828.0, 828.0),
 (402.0, 402.0),
 (199.0, 199.0),
 (29.0, 29.0),
 (704.0, 704.0),
 (587.0, 587.0),
 (675.0, 675.0),
 (955.0, 955.0),
 (53.0, 53.0),
 (26.0, 26.0),
 (232.0, 232.0),
 (251.0, 251.0),
 (363.0, 363.0),
 (894.0, 894.0),
 (225.0, 225.0),
 (665.0, 665.0),
 (485.0, 485.0),
 (488.0, 488.0),
 (659.0, 659.0),
 (585.0, 585.0),
 (293.0, 293.0),
 (240.0, 240.0),
 (806.0, 806.0),
 (77.0, 77.0),
 (129.0, 129.0),
 (204.0, 204.0),
 (363.0, 363.0),
 (301.0, 301.0),
 (599.0, 599.0),
 (406.0, 406.0),
 (765.0, 765.0),
 (414.0, 414.0),
 (418.0, 418.0),
 (599.0, 599.0),
 (663.0, 663.0),
 (436.0, 436.0),
 (171.0, 171.0),
 (780.0, 780.0),
 (680.0, 680.0),
 (898.0, 898.0),
 (187.0, 187.0),
 (844.0, 844.0),
 (680.0, 680.0),
 (583.0, 583.0),
 (861.0, 861.0),
 (277.0, 277.0),
 (836.0, -1),
 (720.0, -1),
 (168.0, -1),
 (624.0, -1),
 (991.0, -1),
 (-1, 246.0),
 (-1, 911.0),
 (-1, 993.0),
 (-1, 709.0),
 (-1, 709.0)]

In [12]:
sourceFile = open('solution_3.txt', 'w')

for y in range(len(arr)):
    print(arr[y][0],':',arr[y][1], file = sourceFile)

    
sourceFile.close()