In [4]:
import numpy as np
import pandas as pd

In [5]:
data_a = pd.read_csv('problem2.csv') 
data_a

     Id    Latitude   Longitude
0   763  -62.143605  -69.059316
1   307  105.795136  -65.706768
2   258   89.168082  133.709759
3   235 -101.836889 -120.809672
4    56   73.712477  116.057380
5   962   59.827939 -100.161487
6   895  -64.692248  148.235307
7   440  -71.746504   33.095026
8   836   71.329149   75.031543
9   219  -74.186856 -122.694218
10  205  -36.798404  133.815085
11  196 -139.897192    9.215587
12  534 -137.904459   42.535486
13   80  -60.934476   50.661644
14  543  -88.603824   42.820766
15  652   76.911490 -106.471674
16  327 -111.184664  -42.125583
17  542 -127.827167   61.100054
18  122   64.327141   50.727333
19  965  -56.306553   57.728086
20  287  113.626647   73.594959
21  455  115.520064   64.883348
22  901 -113.539681  118.999614
23  232 -142.840737  -55.829591
24  650   56.366395   50.072009
25  805 -104.187203   61.477091
26  599   77.285335 -128.831733
27    1   54.352166  112.558369
28  215  -38.812698  -55.945646
29  818   85.689943   41.730680
30  875 -134.735004  -57.264716
31  720   51.342245  -67.742228
32  355    4.852590   76.636207
33  522  -15.273000   29.405072
34  495 -138.018992 -143.157104
35  897  -50.800587   54.271229
36   59 -125.324821    6.089719
37  168  -49.762773 -107.441788
38  112  -40.480983   99.069098
39  640  -25.194159    8.440732
40  761  -18.079165  145.527203
41  924   92.911909  -99.297003
42  154   63.774986   91.783626
43  302   83.298005   -3.798804
44  473  126.419945 -137.230699

In [6]:
data_b = pd.read_json('problem2.json') 
data_b

     Id    Latitude   Longitude
0   965  -56.306553   57.728086
1   895  -64.692248  148.235307
2   599   77.285335 -128.831733
3   993  112.977111  144.349580
4   495 -138.018992 -143.157104
5   542 -127.827168   61.100054
6   246  -92.920535  126.663847
7   962   59.827939 -100.161487
8   258   89.168081  133.709759
9   327 -111.184664  -42.125583
10  761  -18.079165  145.527203
11  232 -142.840737  -55.829591
12  897  -50.800587   54.271229
13  805 -104.187203   61.477091
14  534 -137.904459   42.535486
15  709  -54.473819  149.652170
16  355    4.852590   76.636207
17  901 -113.539681  118.999614
18  196 -139.897192    9.215587
19   56   73.712477  116.057380
20  215  -38.812698  -55.945646
21   80  -60.934476   50.661643
22  473  126.419945 -137.230699
23  924   92.911909  -99.297004
24  122   64.327141   50.727333
25  911  146.068455  112.579091
26  154   63.774986   91.783626
27  650   56.366395   50.072009
28    1   54.352166  112.558369
29  205  -36.798404  133.815085
30  455  115.520064   64.883348
31  235 -101.836889 -120.809672
32  440  -71.746504   33.095026
33  302   83.298005   -3.798804
34  522  -15.273000   29.405072
35  112  -40.480983   99.069098
36  543  -88.603824   42.820766
37  763  -62.143606  -69.059316
38  709    2.094669  -89.629818
39  652   76.911490 -106.471674
40   59 -125.324821    6.089719
41  219  -74.186856 -122.694218
42  287  113.626647   73.594959
43  818   85.689943   41.730680
44  875 -134.735004  -57.264716

In [7]:
sen1 =[]
sen2 =[]
for r in range(len(data_a)):
    for t in range(len(data_b)):
        if data_a.iloc[r].Latitude.round() == data_b.iloc[t].Latitude.round():
            if data_a.iloc[r].Longitude.round() == data_b.iloc[t].Longitude.round():
                sen1.append(data_a.iloc[r].Id)
                sen2.append(data_b.iloc[t].Id)
                print()

sen1,sen2

([763.0,
  258.0,
  235.0,
  56.0,
  962.0,
  895.0,
  440.0,
  219.0,
  205.0,
  196.0,
  534.0,
  80.0,
  543.0,
  652.0,
  327.0,
  542.0,
  122.0,
  965.0,
  287.0,
  455.0,
  901.0,
  232.0,
  650.0,
  805.0,
  599.0,
  1.0,
  215.0,
  818.0,
  875.0,
  355.0,
  522.0,
  495.0,
  897.0,
  59.0,
  112.0,
  761.0,
  924.0,
  154.0,
  302.0,
  473.0],
 [763.0,
  258.0,
  235.0,
  56.0,
  962.0,
  895.0,
  440.0,
  219.0,
  205.0,
  196.0,
  534.0,
  80.0,
  543.0,
  652.0,
  327.0,
  542.0,
  122.0,
  965.0,
  287.0,
  455.0,
  901.0,
  232.0,
  650.0,
  805.0,
  599.0,
  1.0,
  215.0,
  818.0,
  875.0,
  355.0,
  522.0,
  495.0,
  897.0,
  59.0,
  112.0,
  761.0,
  924.0,
  154.0,
  302.0,
  473.0])

In [8]:
csv = []
ones_a = []
for w in range(len(data_a)):
    if data_a.iloc[w].Id in sen1:
        print()
    else:
        csv.append(data_a.iloc[w].Id)
        ones_a.append(-1)
csv

[307.0, 836.0, 720.0, 168.0, 640.0]

In [9]:
rows, cols = (len(csv), 2)
part_a = [[0]*cols]*rows
for e in range(len(csv)):
    part_a[e]=csv[e],ones_a[e] 
    
part_a

[(307.0, -1), (836.0, -1), (720.0, -1), (168.0, -1), (640.0, -1)]

In [10]:
json = []
ones_b = []
for w in range(len(data_a)):
    if data_b.iloc[w].Id in sen2:
        print()
    else:
        json.append(data_b.iloc[w].Id)
        ones_b.append(-1)
json

[993.0, 246.0, 709.0, 911.0, 709.0]

In [11]:
rows, cols = (len(csv), 2)
part_b = [[0]*cols]*rows
for e in range(len(json)):
    part_b[e]=ones_b[e],json[e] 
    
part_b

[(-1, 993.0), (-1, 246.0), (-1, 709.0), (-1, 911.0), (-1, 709.0)]

In [12]:
rows, cols = (len(sen1), 2)
arr = [[0]*cols]*rows
len(sen1)

40

In [13]:
for e in range(len(sen1)):
    arr[e]=sen1[e],sen2[e] 
    
arr

[(763.0, 763.0),
 (258.0, 258.0),
 (235.0, 235.0),
 (56.0, 56.0),
 (962.0, 962.0),
 (895.0, 895.0),
 (440.0, 440.0),
 (219.0, 219.0),
 (205.0, 205.0),
 (196.0, 196.0),
 (534.0, 534.0),
 (80.0, 80.0),
 (543.0, 543.0),
 (652.0, 652.0),
 (327.0, 327.0),
 (542.0, 542.0),
 (122.0, 122.0),
 (965.0, 965.0),
 (287.0, 287.0),
 (455.0, 455.0),
 (901.0, 901.0),
 (232.0, 232.0),
 (650.0, 650.0),
 (805.0, 805.0),
 (599.0, 599.0),
 (1.0, 1.0),
 (215.0, 215.0),
 (818.0, 818.0),
 (875.0, 875.0),
 (355.0, 355.0),
 (522.0, 522.0),
 (495.0, 495.0),
 (897.0, 897.0),
 (59.0, 59.0),
 (112.0, 112.0),
 (761.0, 761.0),
 (924.0, 924.0),
 (154.0, 154.0),
 (302.0, 302.0),
 (473.0, 473.0)]

In [14]:
for r in range(len(part_a)):
    arr.append(part_a[r])
    
for r in range(len(part_b)):
    arr.append(part_b[r])
    
arr

[(763.0, 763.0),
 (258.0, 258.0),
 (235.0, 235.0),
 (56.0, 56.0),
 (962.0, 962.0),
 (895.0, 895.0),
 (440.0, 440.0),
 (219.0, 219.0),
 (205.0, 205.0),
 (196.0, 196.0),
 (534.0, 534.0),
 (80.0, 80.0),
 (543.0, 543.0),
 (652.0, 652.0),
 (327.0, 327.0),
 (542.0, 542.0),
 (122.0, 122.0),
 (965.0, 965.0),
 (287.0, 287.0),
 (455.0, 455.0),
 (901.0, 901.0),
 (232.0, 232.0),
 (650.0, 650.0),
 (805.0, 805.0),
 (599.0, 599.0),
 (1.0, 1.0),
 (215.0, 215.0),
 (818.0, 818.0),
 (875.0, 875.0),
 (355.0, 355.0),
 (522.0, 522.0),
 (495.0, 495.0),
 (897.0, 897.0),
 (59.0, 59.0),
 (112.0, 112.0),
 (761.0, 761.0),
 (924.0, 924.0),
 (154.0, 154.0),
 (302.0, 302.0),
 (473.0, 473.0),
 (307.0, -1),
 (836.0, -1),
 (720.0, -1),
 (168.0, -1),
 (640.0, -1),
 (-1, 993.0),
 (-1, 246.0),
 (-1, 709.0),
 (-1, 911.0),
 (-1, 709.0)]